apiVersion: external-secrets.io/v1alpha1
kind: ClusterSecretStore
metadata:
  name: gcp-secret-store
spec:
  provider:
      gcpsm:                                        # gcpsm provider
        auth:
          secretRef:
            secretAccessKeySecretRef:
              name: gcp-store-creds                 # secret name containing SA key
              key: external-secrets-k8s-creds.json  # key name containing SA key
              namespace: external-secrets
        projectID: {{ google_project_id }}          # name of Google Cloud project
